.header__h1 {
    color: var(--white);
    font-weight: 600;
    line-height: 85%;
    text-transform: uppercase;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .header__h1 {
        font-size: 25px;
    }
}